RewriteEngine On
Options -Indexes

RewriteRule ^beranda/?$ index.php [NC,L]
RewriteRule ^login/?$ index.php?r=login [QSA,L]
RewriteRule ^logout/?$ index.php?r=/auth/logout [QSA,L]
RewriteRule ^register/?$ index.php?r=register [QSA,L]
# profile
RewriteRule ^profile/([A-Za-z0-9-]+)/?$ index.php?r=profile&&member=$1 [QSA,L]
RewriteRule ^profile/edit/?$ index.php?r=profile-edit [QSA,L]
RewriteRule ^categories/?$ index.php?r=categories [QSA,L]
RewriteRule ^categories/([0-9-]+)/?$ index.php?r=categories&&id=$1 [QSA,L]
# post
RewriteRule ^post/add/?$ index.php?post=add [QSA,L]
RewriteRule ^post/([a-z-]+)/([0-9-]+)/?$ index.php?post=$1&&id=$2 [QSA,L]
# comments
RewriteRule ^comments/add/?$ index.php?comments=add [QSA,L]
RewriteRule ^comments/([a-z-]+)/([0-9-]+)/?$ index.php?comments=$1&&id=$2 [QSA,L]

# mail
RewriteRule ^mail/?$ index.php?r=mail [QSA,L]
RewriteRule ^mail/sent/?$ index.php?mail=sent [QSA,L]
RewriteRule ^mail/read/([0-9-]+)/?$ index.php?mail=read&=$1 [QSA,L]
RewriteRule ^mail/compose/?$ index.php?mail=compose [QSA,L]


RewriteRule ^search/?$ index.php/search/?query=$1 [QSA,L]

# RewriteCond $1 !^(index\.php|images|robots\.txt)
# RewriteRule ^(.*)$ /index.php/$1 [L]

ErrorDocument 404 /index.php