{% extends 'base.html' %}

{% load locale_id %} {# load module that return price into rupiah format #}

{% block breadchumb %}
    <li xmlns="http://www.w3.org/1999/html"><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Add-food</li>
{% endblock %}

{% block content %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Foods</h3>

            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->

        <div class="box-body" style="display: block;">
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                        <p>Please correct the following field:</p>
                    {% endif %}

                    <div class="input-group">
                        <span class="input-group-addon">Table </span>
                        <input id="id_customer_table" max="3" min="0" name="customer_table" type="number"
                               class="form-control" placeholder="Customer's Table" required="true"/>
                    </div>
                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon">Food  </span>
                        <label for="id_food"></label>
                        <select id="id_food" name="food" class="form-control">
                            {% for food in foods %}
                            <option value="{{ food.id }}">{{ food.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon">Extras</span>
                        <input id="id_extras" name="extras" type="text" class="form-control" placeholder="Extras"/>
                    </div>
                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon">Quantity </span>
                        <label for="id_qty"></label>
                        <input id="id_qty" max="10" min="0" name="qty" type="number" placeholder="Quantity of Foods"
                               class="form-control" required="true"/>
                    </div>
                    <br/>

                    <div class="input pull-right">
                        <button type="submit" class="btn btn-block btn-flat">Add</button>
                    </div>
                    <br/>
                    <br/>
                </form>
            </div>
            <!-- /.box-body -->
        </div>


    </div>
    <!-- /.box-body -->
{% endblock %}