{% load locale_id %} {# load module that format price into rupiah format #}

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Foods</h3>

        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="display: block;">
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th width=40>#</th>
                    <th>Name</th>
                    <th>Popularity</th>
                    <th>Locality</th>
                    <th>Price</th>
                    <th colspan="4">Order</th>
                </tr>
                {% for food in foods %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ food.name }}</td>
                        <td>-</td>
                        <td><span class="label label-success">{{ food.get_locality_display }}</span></td>
                        <td>{% format_rupiah food.price %}</td>
                        <td>
                            <input id="id_username" name="username" type="text" class="form-control" placeholder="Email"/>
                            t
                        </td>
                        <td>
                            <label>
                                <input class="form-control" type="number" name="quantity" min="0" max="10" value="0">
                            </label>
                        </td>
                        <td>1</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->

    </div>
    <!-- /.box-body -->
</div>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Drinks</h3>

        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="display: block;">
        None
    </div>
    <!-- /.box-body -->
</div>